html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: lightblue;
  position: sticky;
  top: 0;
  left: 0;
}

aside {
  background-color: lightgray;
  height: 100vh;
  width: 10vw;
  margin: 0;
  top: 50px;
  left: 0;
  position: fixed;
}

article {
  position: fixed;
  left: 10vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: aquamarine;

  overflow-y: auto;
  height: 100vh;

  padding: 1rem 5rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;

  flex-direction: column;
}

nav ul li {
  list-style: none;
}

form {
  display: grid;
  max-width: 30vw;
  place-items: center;
}

label {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;

  overflow: hidden;
}

label p {
  display: flex;
  margin: 0;
  text-align: right;
  justify-content: flex-end;
  min-width: 70px;
}
label input {
  margin-left: 0.2rem;
}

.form-label {
  font-weight: 700;
  font-size: large;
}

input[type="submit"] {
}
